html{
      scroll-behavior: smooth;
}      
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
}
.max-width{
      max-width: 1200px;
      padding: 0 80px;
      margin: auto;
}
.navbar{
      position: fixed;
      width: 100%;
      transition: all .3s ease;
      padding: 30px 0;
      .max-width{
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
      .logo{
            a{
                  color: #fff;
                  font-size: 35px;
                  font-weight: 600;
                  span{
                        color: crimson;
                  }
            }
      }
      .menu{
            li{
                  display: inline-block;
                  list-style: none;
                  a{
                        color: #fff;
                        font-size: 18px;
                        font-weight: 500;
                        margin-left: 25px;
                        transition: all .4s ease;
                        &:hover{
                              color: crimson;
                        }
                  }
            }
      }
}
.sticky{
      z-index: 2;
      padding: 20px 0;
      background-color: crimson;
      .menu{
            li{
                  a{
                        &:hover{
                              color: #fff;
                        }
                  }
            }
      }
      .logo{
           a{
           
                  span{
                        color: #fff;
                  }
           } 
      }
}
.menu-btn{
      font-size: 23px;
      color: #fff;
      cursor: pointer;
      display: none;
}
.home{
      display: flex;
      height: 100vh;
      background-color: #191d2b;
      color: #fff;
      min-height: 500px;
      .max-width{
            margin: auto 0 auto 40px;
      }
      .home-content .text-1{
            font-size: 27px;
      }
      .home-content .text-2{
            font-size: 75px;
            font-weight: 600;
            margin-left: -3px;
      }
      .home-content .text-3{
            font-size: 40px;
            margin: 5px 0;
            span{
                  color: crimson;
                  font-weight: 500;
            }
      }
}
section{
      padding: 100px 0;
}
.about {
      .title{
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 60px;
      }
      .about-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .left{
                  width: 45%;
                  img{
                        height: 400px;
                        width: 400px;
                        object-fit: cover;
                        border-radius: 6px;
                  }
            }
            .right{
                  width: 55%;
                  p{
                        text-align: justify;
                  }
                  .text{
                        font-size: 25px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        span{
                              color: crimson;
                        }
                  }
            }
      }
}
.skills{
      background-color: #111;
}
.skills{
      .title{
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 60px;
            color: #fff;
      }
      .carousel{
            .card{
                  background-color: #222;
                  border-radius: 6px;
                  padding: 25px 35px;
                  transition: all .3s ease;
                  &:hover{
                        background-color: crimson;
                        img{
                              border-color: white;
                        }
                        .box{
                              transform: scale(1.05);
                        }
                  }
                  .box{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: all .3s ease;
                  }
                  .text{
                        font-size: 25px;
                        font-weight: 500;
                        margin: 10px 0 7px 0;
                  }
                  img{
                        height: 150px;
                        width: 150px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 5px solid crimson;
                  }
            }
      }
}
.owl-dots{
      text-align: center;
      margin-top: 20px;
}
.owl-dot{
      height: 13px;
      margin: 0 5px;
      width: 13px;
      outline: none!important;
      border-radius: 50%;
      border: 2px solid crimson!important;
      transition: all .3s ease;
}
.owl-dot.active, .owl-dot:hover{
      background-color: crimson!important;
}
.contact {
      .right{
           form{
            .name{
                  margin-right: 10px;
            }
            .email{
                  margin-left: 10px;
            }
            .textarea{
                  height: 80px;
            }
            .field{
                  height: 45px;
                  width: 100%;
                  margin-bottom: 15px;
                  input{
                        height: 100%;
                        width: 100%;
                        border: 1px solid lightgrey;
                        outline: none;
                        padding: 0 15px;
                        font-size: 17px;
                  }
            }
            .fields{
                  display: flex;
                  .field{
                        height: 45px;
                        width: 100%;
                        margin-bottom: 15px;
                        input{
                              height: 100%;
                              width: 100%;
                              border: 1px solid lightgrey;
                              outline: none;
                              padding: 0 15px;
                              font-size: 17px;
                        }
                  }
            }
           }
      }
      .title{
            text-align: center;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 60px;
      }
      .contact-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                  p{
                        text-align: justify;
                  }
                  .icons{
                        margin: 10px 0;
                  }

            }
            .text{
                  font-size: 20px;
                  font-weight: 600;
                  margin-bottom: 10px;
            }
            .row{
                  display: flex;
                  height: 65px;
                  align-items: center;
                  i{
                        font-size: 25px;
                        color: crimson;
                  } 
                  .info{
                        margin-left: 30px;
                        .head{
                              font-weight: 500;
                        }
                        .sub-title{
                              color: #333;
                        }
                  }
            }
            .column{
                  width: 48%;
            }
      }
}
.contact {
      .right{
            form{
                  .button{
                        height: 47px;
                        width: 170px;
                        transition: all .3s ease ;
                        button{
                              width: 100%;
                              height: 100%;
                              border: 2px solid crimson;
                              background-color: crimson;
                              color: #fff;
                              font-size: 17px;
                              font-weight: 500;
                              cursor: pointer;
                              border-radius: 6px;
                        }
                  }
                  textarea{
                        height: 100%;
                        width: 100%;
                        outline: none;
                        border: 1px solid lightgrey;
                        font-size: 17px;
                        resize: none;
                        padding: 0 15px;
                  }
                  .textarea{
                        height: 80px;
                        width: 100%;
                  }
            }
      }
}
.contact .right form .button button{
      transition: all .3s ease;
}
.contact .right form .button button:hover{
      color: crimson;
      background-color: #fff;
}
.scroll-up-btn{
      position: fixed;
      height: 45px;
      width: 42px;
      background-color: crimson;
      right: 30px;
      bottom: 10px;
      text-align: center;
      color: #fff;
      font-size: 30px;
      z-index: 9999;
      cursor: pointer;
      border-radius: 6px;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease;
}
.scroll-up-btn.show{
      bottom: 30px;
      opacity: 1;
      pointer-events: auto;
}
footer{
      background-color: #111;
      padding: 20px 0;
      color: #fff;
      text-align: center;
}
@media (max-width: 1300px) {
      .home{
            .max-width{
                  margin-left: 0;
            }
      }
}
@media (max-width: 1100px) {
      .about .about-content .left img{
            height: 350px;
            width: 350px;
      }
}
@media (max-width: 991px) {
      .max-width{
          padding: 0 50px;
      }
  }
  @media (max-width: 947px){
      .menu-btn{
          display: block;
          z-index: 999;
          i.active:before{
            content: "\f00d";

          }
      }
      .navbar{
            .menu{
                  position: fixed;
                  height: 100vh;
                  width: 100%;
                  left: -100%;
                  top: 0;
                  background: #111;
                  text-align: center;
                  padding-top: 80px;
                  transition: all 0.3s ease;
            }
          
      }
      .navbar .menu.active{
          left: 0;
      }
      .navbar .menu li{
          display: block;
      }
      .navbar .menu li a{
          display: inline-block;
          margin: 20px 0;
          font-size: 25px;
      }
      .home .home-content .text-2{
            font-size: 70px;
      }
      .home .home-content .text-3{
            font-size: 35px;
      }
      .about{
            .about-content{
                  .column{
                        width: 50%; 
                  }
            }
      }
      .max-width{
            max-width: 930px;
      }
      .about .about-content .column{
            width: 100%;
      }
        .about .about-content .left{
            display: flex;
            justify-content: center;
            margin: 0 auto 60px;
      }
        .about .about-content .right{
            flex: 100%;
      }
}
@media (max-width: 690px) {
      .home .home-content .text-2{
            font-size: 60px;
      }
      .home .home-content .text-3{
            font-size: 32px;
      }
}
@media(max-width: 480px){
      .contact-content{
            display: flex;
            flex-direction: column;
            .column{
                  width: 100%!important;
                  .fields{
                        display: flex;
                        flex-direction: column;
                        width: 100%!important;
                  }
            }
      }
}
